@charset "UTF-8";

/* 全体 */

body {
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

li a {
  display: block;
}

img {
  display: block;
  width: 100%;
}


/* ヘッダー */

.header-block {
  list-style-type: none;
  width: 100%;
  height: 60px;
}

.header {
  list-style-type: none;
  width: 100%;
  height: 35px;
  display: flex;
  margin: 0;
  padding-left: 5px;
  padding-top: 16px;
  padding-right: 5px;
  padding-bottom: 16px;
}

.logo-jp {
  width: 100%;
}

.logo-jp img {
  width: 167px;
  height: 46px;
  margin-right: 10px;
  position: absolute;
  top: 16px;
  left: 10px;
}

.logo-an {
  position: absolute;
  top: 26px;
  left: 187px;
}

.logo-an img {
  width: 60px;
  height: 11.17px;
}

.lang {
  height: 21px;
  position: absolute;
  top: 26px;
  right: 16px;
}

.lang img {
  width: 46px;
  height: 21px;
}

.ris {
  height: 0px;
}

.ris img {
  height: 8px;
  ;
  position: absolute;
  top: 57px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  background-color: #FFFFFF;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
}


/* メイン */

.add {
  padding: 16px 0;
  width: 90%;
  margin: auto;
  color: #CC0022;
  font-family: YuGothic;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
}

.login-text {
  padding: 16px 0;
  width: 90%;
  margin: auto;
  color: #333333;
  font-family: YuGothic;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
}

.log-id {
  color: #333;
  font-weight: bold;
  background-color: #f4f8fb;
  padding: 5px 5%;
}

.inp {
  padding: 16px 0;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  height: 48px;
  border: 1px solid #DCDFE0;
  border-radius: 6px;
  background-color: #FFFFFF;
  border-radius: 4px;
  font-size: 14px;
}

.log-pass {
  color: #333;
  font-weight: bold;
  background-color: #f4f8fb;
  padding: 5px 5%;
}

.btn-group__item-red {
  height: 50px;
  width: 100%;
  background-color: #c02;
}

.btn {
  margin-bottom: 16px;
  overflow: hidden;
  height: 50px;
  width: 100%;
  background-color: #c02;
  width: 90%;
  margin: auto;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  display: table;
  color: #fff;
}

.btn-center {
  padding: 0 20px;
  line-height: 1.2em;
  display: table-cell;
  vertical-align: middle;
}

.link-list {
  display: block;
  padding: 15px 5%;
  font-weight: bold;
}

.link-list-item {
  font-size: 12px;
  color: #004fce;
}

.body-text_m {
  margin-left: 22px;
  margin-bottom: 24px;
  font-size: 12px;
}

.body-text-main {
  margin-left: 22px;
  margin-bottom: 24px;
  font-size: 14px;
  color: #212121;
  font-family: YuGothic;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  width: 90%;
  margin: auto;
  margin-bottom: 24px;
}

.bottom-area {
  border-top: solid 1px #e3decf;
}

.bottom-area__link {
  display: block;
  padding: 15px 5%;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.bottom-area__icon {
  width: 15px;
  padding-top: 8px;
}

.bottom-area__img {
  display: block;
  margin: 4px 16px 0 0;
  float: left;
}


/* フッダー */

.footer {
  height: 277px;
  width: 100%;
}

.footer-list {
  list-style-type: none;
  height: 20px;
  width: 100%;
  background-color: #f0f0f0;
  padding: 12px 16px;
}

.footer-li {
  height: 12px;
  width: 124px;
  color: #666666;
  font-family: YuGothic;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.82px;
  line-height: 18px;
}

.footer-list-item {
  margin-bottom: 20px;
  color: #666;
  font-size: 12px;
}

.copyright {
  height: 65px;
  width: 100%;
  background-color: #c02;
  padding: 10px 0;
}

.copyright-txt {
  font-size: 10px;
  line-height: 13px;
  color: #d9d9d9;
  text-align: center;
}


/* 三角 */

.sankaku::before {
  content: '';
  display: inline-block;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-right: 10px;
  border-left-color: #c02;
}