@charset "UTF-8";
/* 全体 */

body {
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

li a {
  display: block;
}

img {
  display: block;
  width: 100%;
}

/* ヘッダー */

.header-block {
  list-style-type: none;
  width: 100%;
  height: 60px;
}

.header {
  list-style-type: none;
  width: 100%;
  height: 35px;
  display: flex;
  margin: 0;
  padding-left: 5px;
  padding-top: 16px;
  padding-right: 5px;
  padding-bottom: 16px;
}

.logo-jp {
  width: 100%;
}

.logo-jp img {
  width: 167px;
  height: 46px;
  margin-right: 10px;
  position: absolute;
  top: 16px;
  left: 10px;
}

.logo-an {
  position: absolute;
  padding-top: 7px;
  top: 26px;
  left: 187px;
}

.logo-an img {
  width: 60px;
  height: 11.17px;
}

.lang {
  height: 21px;
  position: absolute;
  top: 26px;
  right: 16px;
}

.lang img {
  width: 46px;
  height: 21px;
}

.ris {
  height: 0px;
}

.ris img {
  height: 8px;
  ;
  position: absolute;
  top: 57px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  background-color: #FFFFFF;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
}

.menu {
  height: 54.26px;
  position: absolute;
  top: 6px;
  right: 8px;
}

.menu img {
  width: 48px;
  height: 48px;
}

/* ナビゲーション */

nav {
  text-align: center;
}

nav ul {
  width: 90%;
  background-color: #FFFFFF;
  padding-left: 16px;
  padding-top: 16px;
  margin-top: 0px;
  white-space: nowrap;
}

nav li {
  list-style: none;
  display: inline-block;
  width: 10%;
  min-width: 105px;
}

nav li:not(:last-child) {
  border-right: 1px solid #F0F0F0;
}

nav a {
  color: #777777;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1.09px;
  line-height: 24px;
}

/* メイン */

.red-li {
  border-bottom: 2px solid #CC0022;
}

.gray-li{
  border-bottom: 1px solid #989C9D;
}

.top-text {
  padding: 16px 0;
  width: 90%;
  margin: auto;
  color: #CC0022;
  font-family: YuGothic;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
}

.top-text-li {
  border-top: solid 1px #989C9D;
}

.login-text {
  padding: 16px 0;
  width: 90%;
  margin: auto;
  color: #333333;
  font-family: YuGothic;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
}

.log-id {
  color: #333;
  font-weight: bold;
  background-color: #f4f8fb;
  padding: 5px 5%;
}

.inp {
  padding: 16px 0;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  height: 48px;
  border: 1px solid #DCDFE0;
  border-radius: 6px;
  background-color: #FFFFFF;
  border-radius: 4px;
  font-size: 14px;
}

.log-pass {
  color: #333;
  font-weight: bold;
  background-color: #f4f8fb;
  padding: 5px 5%;
}

.btn-set {
  padding: 8px 0;
}

.btn-group__item-red {
  height: 50px;
  width: 100%;
  background-color: #c02;
}

.btn-red {
  margin-bottom: 16px;
  overflow: hidden;
  height: 50px;
  width: 100%;
  background-color: #c02;
  width: 90%;
  margin: auto;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  display: table;
  color: #fff;
}

.btn-red-center {
  padding: 0 20px;
  line-height: 1.2em;
  display: table-cell;
  vertical-align: middle;
}

.btn-white {
  margin-bottom: 16px;
  overflow: hidden;
  height: 50px;
  width: 100%;
  background-color: #F0F0F0;
  width: 90%;
  margin: auto;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  display: table;
  color: #004FCE;
}

.btn-white-center {
  padding: 0 20px;
  line-height: 1.2em;
  display: table-cell;
  vertical-align: middle;
}

.link-list {
  display: block;
  padding: 15px 5%;
  font-weight: bold;
}

.link-list-item {
  font-size: 12px;
  color: #004fce;
}

.body-text_m {
  margin-left: 22px;
  margin-bottom: 24px;
  font-size: 12px;
}

.body-text-main {
  margin-left: 22px;
  margin-bottom: 24px;
  font-size: 14px;
  color: #212121;
  font-family: YuGothic;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  width: 90%;
  margin: auto;
  margin-bottom: 24px;
}

.body-text-main-d {
  margin-left: 22px;
  margin-bottom: 24px;
  font-size: 14px;
  font-family: YuGothic;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  width: 90%;
  margin: auto;
  margin-bottom: 24px;
  height: 63px;
  color: #333333;
}

.body-text-main-s {
  margin-left: 22px;
  font-size: 14px;
  font-weight: 500;
  width: 90%;
  margin: auto;
  margin-bottom: 24px;
  height: 36px;
  opacity: 0.88;
  color: #212121;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.body-text-main-k {
  margin-left: 22px;
  width: 90%;
  margin: auto;
  margin-top: 11px;
  margin-bottom: 4px;
  opacity: 0.88;
  color: #212121;
  height: 40px;
  font-family: YuGothic;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
}

.body-text-main-h {
  margin-left: 22px;
  width: 90%;
  margin: auto;
  margin-top: 8px;
  opacity: 0.88;
  height: 210px;
  color: #333333;
  font-family: YuGothic;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
}

.bottom-area {
  border-top: solid 1px #e3decf;
}

.bottom-area__link {
  display: block;
  padding: 15px 5%;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.bottom-area__icon {
  width: 15px;
  padding-top: 8px;
}

.bottom-area__img {
  display: block;
  margin: 4px 16px 0 0;
  float: left;
}

.box-inv-hd {
  box-sizing: border-box;
  height: 32px;
  width: 90%;
  border: 1px solid #DCDFE0;
  background-color: #F4F8FB;
  margin: auto;
  text-align: center;
}

.box-inv-hd-h {
  box-sizing: border-box;
  height: 32px;
  width: 45%;
  border: 1px solid #DCDFE0;
  background-color: #F4F8FB;
  margin: auto;
  text-align: center;
}

.box-inv-hd-txt {
  height: 12px;
  color: #212121;
  font-family: YuGothic;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}

.box-inv {
  box-sizing: border-box;
  height: 41px;
  width: 90%;
  margin: auto;
  border: 1px solid #DCDFE0;
  background-color: #FFFFFF;
}

table {
  margin-top: 25px;
  overflow-x: auto;
  border-collapse: collapse;
  border: 1px solid #75768b;
  margin: auto;
  width: 90%;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  margin: 2em auto;
  padding: 1em;
  width: 90%;
  border: 1px solid #ccc;
  /* 枠線 */
}

.tr-cl {
  border: 1px solid #F4F8FB;
  /* 枠線 */
}

.ri-txt {
  height: 12px;
  color: #212121;
  font-family: YuGothic;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}

.le-txt {
  height: 12px;
  color: #212121;
  font-family: "Hiragino Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.dl-txt{
  height: 12px;
  color: #004FCE;
  font-family: YuGothic;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}

.box-bl {
  background-color: #F4F8FB;
  border: 1px solid #ccc;
  /* 枠線 */
}

th {
  border: 1px solid #ccc;
  /* 枠線 */
}

td {
  width: 76px;
  border: 1px solid #ccc;
  /* 枠線 */
}

.b-b-h {
  border-bottom: hidden;
}

.box-inv-txt {
  height: 12px;
  color: #212121;
  font-family: YuGothic;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  padding-left: 28px;
}

.checkbox-input {
  display: none;
}

.checkbox-parts {
  position: relative;
}

.checkbox-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  border: 2px solid #777777;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.checkbox-input:checked+.checkbox-parts {
  color: #d01137;
}

.checkbox-input:checked+.checkbox-parts::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #d01137;
  border-right: 3px solid #d01137;
}

.txt-adr {
  height: 14px;
  color: #212121;
  font-family: YuGothic;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 21px;
  padding: 16px 0;
  width: 90%;
  margin: auto;
  font-family: YuGothic;
}

/* フッダー */

.footer {
  height: 277px;
  width: 100%;
}

.footer-list {
  list-style-type: none;
  height: 20px;
  width: 100%;
  background-color: #f0f0f0;
  padding: 12px 16px;
}

.footer-li {
  height: 12px;
  width: 124px;
  color: #666666;
  font-family: YuGothic;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.82px;
  line-height: 18px;
}

.footer-list-item {
  margin-bottom: 20px;
  color: #666;
  font-size: 12px;
}

.copyright {
  height: 65px;
  width: 100%;
  background-color: #c02;
  padding: 10px 0;
}

.copyright-txt {
  font-size: 10px;
  line-height: 13px;
  color: #d9d9d9;
  text-align: center;
}

/* 三角 */

.sankaku::before {
  content: '';
  display: inline-block;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-right: 10px;
  border-left-color: #c02;
}